BOT_TOKEN=PASTE_BOT_TOKEN_HERE
OWNER_ID=6994836801
SOURCE_CHANNEL_ID=-1003743608328
MONETAG_ZONE_ID=11404425
MONETAG_SDK_FUNC=show_11404425
PUBLIC_BASE_URL=https://your-domain.example
AUTO_DELETE_SECONDS=1200
DB_PATH=bot.db
PORT=8080
